<header>
    <nav class="navbar navbar-expand-md navbar-dark container-fluid">
        <div
            class="nav-wrapper d-flex w-100 align-items-center justify-content-between px-3"
        >
            <a class="navbar-brand" href="/index.html">
                <div class="logo-container">
                    <img
                        src="/assets/rapicreditos.png"
                        alt="Logo Rapicréditos"
                        class="logo img-fluid"
                    />
                </div>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar"
                aria-controls="mainNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div
            class="collapse navbar-collapse justify-content-end px-3"
            id="mainNavbar"
        >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../public/info/contacto.html"
                        >Contacto</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../public/auth/login.html"
                        >Inicia sesión</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../public/auth/signup.html"
                        >Registrarse</a
                    >
                </li>
                <!-- <li class="nav-item">
                    <a
                        class="nav-link"
                        href="../../public/paneles/interfazAdmin.html"
                        >Gestión de clientes</a
                    >
                </li> -->
            </ul>
        </div>
    </nav>
</header>
