header h1 {
    font-size: 40px;
}

header p {
    font-size: 20px;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--coral_biologico);
    width: 95%;
    margin: 20px auto;
}

section p {
    line-height: 1.6;
    text-align: center;
    max-width: 80%;
    margin: 0 auto 20px auto;
}

video, audio {
    border: 3px solid var(--verde_algal);
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    display: block;
    margin: 20px auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

video:hover, audio:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0,0,0,0.8);
}

a {
    text-decoration: none;
    color: var(--azul_grisaceo);
    font-family: Arial, Helvetica, sans-serif
}