.logo {
    font-family: "Poppins", "Segoe UI", sans-serif;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--coral_biologico);
    width: 95%;
    margin: 20px auto;
    opacity: 1;
}

section {
    padding: 3em 1.5em;
    text-align: center;
}

section h2 {
    color: var(--azul_oceano_profundo);
    margin-bottom: 1em;
}

section p {
    line-height: 1.6;
    text-align: center;
    max-width: 80%;
    margin: 0 auto 20px auto;
}

video,
audio {
    border: 3px solid var(--verde_algal);
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    display: block;
    margin: 20px auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

video:hover,
audio:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
}

a {
    text-decoration: none;
    color: var(--azul_grisaceo);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--celeste_conicet);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--coral_biologico);
}
