/* ====== ESTILOS DE MULTIMEDIA ====== */

section p {
	line-height: 1.6;
	text-align: center;
	max-width: 80%;
	margin: 20px auto;
}

section h2 {
	text-align: center;
	color: var(--azul_grisaceo);
	font-weight: 700;
	margin: 30px auto 15px;
	font-size: 1.8rem;
}

hr {
	border: none;
	height: 2px;
	background-color: var(--coral_biologico);
	width: 90%;
	margin: 40px auto;
}

video,
audio {
	border: 3px solid var(--verde_algal);
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
	display: block;
	margin: 20px auto;
	transition: transform 0.3s, box-shadow 0.3s;
}

video:hover,
audio:hover {
	transform: scale(1.03);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
}

button {
	background-color: var(--celeste_conicet);
	color: white;
	border: none;
	border-radius: 8px;
	padding: 0.6em 1.2em;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s;
	display: block;
	margin: 15px auto 30px;
}

button:hover {
	background-color: var(--coral_biologico);
}

button a {
	color: white;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}

.multimedia-contenido {
	padding-top: 2em;
	background-color: var(--gris_perla);
}
